<!DOCTYPE html>
<html lang="en">

  <head>
    	{% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
      {% block titulo %}
      {% endblock %}
    </title>

    <!-- Bootstrap core CSS-->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom fonts for this template-->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">

  

    <!-- Page level plugin CSS-->
    <!-- <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}">

    <!-- Custom styles for this template-->
    <!-- <link href="css/sb-admin.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'vendor/css/sb-admin.css' %}">

  </head>

  <body id="page-top">
    {% load static %}
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="{% url 'index' %}">Inventario|Unicauca</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Inicio</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Inventario</span>
          </a>
          <div class="dropdown-menu  text-white ">
            <a class="dropdown-item" href="{% url 'lista_sala' %}">Salones</a>
            <a class="dropdown-item" href="{% url 'lista_ip' %}">Ip</a>
            <a class="dropdown-item" href="{% url 'lista_elemento' %}">Dispositivos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Otro</a>
      
      
          </div>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle"></i>
              <span>Usuario</span></a>
            <div class="dropdown-menu  text-white ">
              <a class="dropdown-item" href="{% url 'lista_usuario' %}">Listar Usuarios</a>
      
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-table"></i>
              <span>Prestamos</span></a>
            <div class="dropdown-menu  text-white ">
              <a class="dropdown-item" href="{% url 'prestamosSalones' %}">Salones</a>
              <a class="dropdown-item" href="{% url 'prestamosDispositivos' %}">Dispositivos</a>
              <a class="dropdown-item" href="{% url 'agregar_profesores' %}">Ip</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Otros</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cog fa-spinner fa-spin "></i>
              <span>Configuracion</span></a>
            <div class="dropdown-menu  text-white ">
              <a class="dropdown-item" href="{% url 'lista_usuario' %}}"></a>
              <a class="dropdown-item" href="{% url 'agregar_estudiante' %}">Agregar_Estudiante</a>
              <a class="dropdown-item" href="{% url 'agregar_profesores' %}">Agregar_Profesores</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'agregar_usuario' %}">Administradores<</a>
            </div>
          </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
              {% block agregar %}         

              {% endblock agregar %} 
            </li>
          </ol>

          <!-- Icon Cards-->
          {% block contenid %}              
          {% endblock contenid %}  

        
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Agradecimiento Creactic2018 Djgano tefa</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Desea Salir</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Seleccione Salir si usted enverdad desea dejar la sesion.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{% url 'login' %}">Salir</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script> 
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- <script rel="stylesheet" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script rel="stylesheet" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- <script rel="stylesheet" src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script> -->

    <!-- Page level plugin JavaScript-->
    <script src="../static/vendor/chart.js/Chart.min.js"></script> -->
    <script src="../static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- <script rel="stylesheet" src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script rel="stylesheet" src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script rel="stylesheet" src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script> -->

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin.min.js"></script>
    <!-- <script rel="stylesheet" src="{% static 'vendor/bootstrap/js/sb-admin.min.js' %}"></script> -->

    <!-- Demo scripts for this page-->
    <script src="../static/js/demo/datatables-demo.js"></script> 
    <script src="../static/js/demo/chart-area-demo.js"></script>
    <script src="../static/js/sb-admin.js"></script>
    <!-- <script rel="stylesheet" src="{% static 'vendor/bootstrap/js/demo/datatables-demo.js' %}"></script>
    <script rel="stylesheet" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->

  </body>

</html>

