{% extends "inicio.html" %}


{% block titulo %}
	principal
{% endblock titulo %}
<meta name="viewport" content="width=device-width"/>
{% block titulomenu %}
 BIENVENIDOS USUARIOS
{% endblock titulomenu %}

{% block contenid %}  

<div style="text-align: center ">
<h3  >({{request.user.username}})</h3>

<p class="mb-0" style="margin-top:2rem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
 
        
</div>

        
{% endblock contenid%}